{% extends "base.html" %}
{% block content %}
<!-- About Section -->
<div class="w3-container" id="about">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
  <p>
    Our mission is to help investors navigate in the ocean of rental properties.
    We analyze properties and find best deals on the market.
    From millions of houses we present to you only ones that maximize your return on investment.
    With us you wont have to create numerous spreadsheets to calculate if property is right for you.
  </p>
</div>

<div class="w3-row-padding">
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img src="/static/images/roman.jpg" alt="Roman" style="width:100%">
    <h3>Roman Ripp</h3>
    <p class="w3-opacity">CEO & Founder</p>
    <p>With background in robotics and automation I strive to free people from tedious work.</p>
    <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
  </div>
</div>
{% endblock %}
